<a href='#/' id='search'>Back to search</a>

<h4>Here is what people are saying about: <span class=search-term>{{dataCtrl.searchTerm}}</span></h4>
Positive score: <span id='total-positive-score'>{{dataCtrl.totalPositive}} - </span></span>
Negative score: <span id='total-negative-score-score'>{{dataCtrl.totalNegative}}</span></span>

<section>
  <marquee behavior="scroll" direction="up" scrollamount="2">
  <ul>
    <li class='messages' ng-repeat="msg in dataCtrl.messages">
      <span ng-bind-html="msg.content"></span><br />
    </li>
  </ul>
  </marquee>
</section>
