
<section id="search-bar" >
<form>
  <input type="text" ng-model="searchTerm" placeholder="Enter search term">
  <input type="submit" id="search" value="Well, DOES it suck?" ng-click="searchCtrl.makeSearch({search_term: searchTerm}); searchTerm = ''">
</form>
</section>

<section class="search-results" ng-show="searchCtrl.isResultReady()">
  <ul class='result-item' ng-repeat='search in searchCtrl.searches'>
    <li><b>Results for:</b> <span class='search-term'>{{search.search_term}}</span> </li>
    <li><b>Sucks:</b> <span class='negative-result'>{{search.negative}}</span> </li>
    <li><b>Doesn't suck:</b> <span class='positive-result'>{{search.positive}}</span> </li>
    <li><b>Don't care:</b> <span class='neutral-result'>{{search.neutral}}</span> </li>
    <li><a href="#/sentiment-trends" class='sentiment-trends-link' ng-click='searchCtrl.setSearchTerm(search.search_term)'>See sentiment trends</a></li>
  </ul>
</section>
