<section id="search-bar" >
  <h4>Not quite sure whether to buy that product? Unsure about voting for that politician? Make informed choices by finding out whether they suck!</h4>
  <form>
    <input type="text" ng-model="searchTerm" placeholder="Enter search term">
    <input type="submit" id="submit-search" value="Well, DOES it suck?" ng-click="searchCtrl.makeSearch({search_term: searchTerm}); searchTerm = ''">
  </form>
</section>
<section class="search-results">
  <ul class="repeat-list" ng-repeat="search in searchCtrl.searches">
    <div class='result-item' ng-class='searchCtrl.presentationFactory.getFullColorScheme(search)' ng-show="search.loaded" >
      <li ><b>Results for:</b> <span class='search-term'>{{search.search_term}}</span> </li>
      <li class='suck-evaluation'>{{searchCtrl.presentationFactory.evaluateSearch(search);}}</li>
        <img class='emoji' src='images/happy.png' />{{search.positive}}
        <img class='emoji' src='images/sad.png' />{{search.negative}}
        <img class='emoji' src='images/neutral.png' />{{search.neutral}}
      </li>
      <li><b><a href="#/trends" class='trends-link' ng-click='searchCtrl.sentimentTrendsFactory.setSearchTerm(search.search_term)'>Trends</a> | <a href="#/data" class='data-link' ng-click='searchCtrl.sentimentTrendsFactory.setSearchResult(search)'>Explore</a></b></li>
      <a class="twitter-share-button" ng-href="https://twitter.com/intent/tweet?text=Does It Suck? has this to say on the subject of {{search.search_term}}:  {{searchCtrl.presentationFactory.evaluateSearch(search);}}. Visit https://does-it-suck.herokuapp.com and see what else sucks!"><img src='images/twitter.svg' /></a>
      <li><a class='delete' href="" ng-click="searchCtrl.delete(search)"><img  src='images/delete.png' /></a></li>
    </div><!-- end results item -->
  </ul>
</section>
