body {
  font-family: 'Inconsolata', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#content-wrapper {
  padding-bottom: 80px;
}

h1 {
  font-family: 'Amatic SC', serif;
  font-size: 3em;
}

#search-bar {
  margin-top: 3%;
  margin-bottom: 5%;
}

hr {
  width: 10%;
}

.search-results li {
  list-style: none;
}

.suck-evaluation {
  font-size: 2em;
  font-weight: bold;
}

.repeat-list {
  padding-left: 0;
}

.result-item {
  border: 3px solid grey;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  overflow: hidden;
  width: 80%;
  margin: 5px auto;
}

.result-item img {
  height: 15px;
  width: 15px;
}

.red {
  background-color: rgba(245,32,32,0.6);
  border-color: #FF2626;
}

.green {
  background-color: rgba(32,255,3,0.5);
  border-color: #02D606;
}

.yellow {
  background-color: rgba(255,247,3,0.5);
  border-color: #FFC400;
}

.emoji {
  border-radius: 100%;
}

#images a{
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: 25px;
}

.avatar {
  position: relative;
  overflow: hidden;
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

.avatar p {
  padding-top: 20px;
  position: relative;
  z-index: 2;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 3em;
  visibility: hidden;
}

.avatar img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.9;
}

.avatar:hover img {
  opacity: 0.5;
}

.avatar:hover p {
  visibility: visible;
}
