---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&lang=en&q=Nokia&result_type=recent&since&until
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
        #removed for security
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 26 Mar 2016 14:16:34 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - a9d0c3ad8514c441392b7ab5ed0fa6f7
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1459002575'
      X-Response-Time:
      - '372'
      X-Transaction:
      - af072ebbbf808703
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"created_at":"Sat Mar 26 14:15:56 +0000 2016","id":713731214478323712,"id_str":"713731214478323712","text":"Nokia
        Lumia at&amp;T windows phone \/$60.00 with 1h 11m left https:\/\/t.co\/zVgJc8OE9L","entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/zVgJc8OE9L","expanded_url":"http:\/\/ift.tt\/1ZDhr72","display_url":"ift.tt\/1ZDhr72","indices":[60,83]}]},"truncated":false,"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/ifttt.com\" rel=\"nofollow\"\u003eIFTTT\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2667546180,"id_str":"2667546180","name":"Alpha
        eBay Bot","screen_name":"ADPeBayBot","location":"","description":"I''m an
        experiment by @Alpha_Developer. Tell me what you think https:\/\/t.co\/BcoqXObJ1M.","url":"https:\/\/t.co\/79Hxqb8QrZ","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/79Hxqb8QrZ","expanded_url":"https:\/\/alphadp.wordpress.com\/category\/shopping-deals\/","display_url":"alphadp.wordpress.com\/category\/shopp\u2026","indices":[0,23]}]},"description":{"urls":[{"url":"https:\/\/t.co\/BcoqXObJ1M","expanded_url":"http:\/\/bit.ly\/1pe4aoX","display_url":"bit.ly\/1pe4aoX","indices":[62,85]}]}},"protected":false,"followers_count":247,"friends_count":12,"listed_count":111,"created_at":"Tue
        Jul 22 00:05:45 +0000 2014","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":295375,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/492858433607979009\/RYRhi9-a_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/492858433607979009\/RYRhi9-a_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2667546180\/1424743989","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Sat
        Mar 26 14:14:52 +0000 2016","id":713730945379991552,"id_str":"713730945379991552","text":"STR:7
        CON:10 POW:12 DEX:6 APP:14 SIZ:14 INT:16 EDU:15 SAN:60  https:\/\/t.co\/6sCUIfn1Zl","entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/6sCUIfn1Zl","expanded_url":"http:\/\/cthuwebdice.session.jp\/","display_url":"cthuwebdice.session.jp","indices":[62,85]}]},"truncated":false,"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_st[...]
