---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&lang=en&q=Nokia&result_type=popular
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      # - Left out for security purposes
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 24 Mar 2016 13:25:01 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - c0af046997c2233d4d38a2f72b8814fa
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '162'
      X-Rate-Limit-Reset:
      - '1458826111'
      X-Response-Time:
      - '125'
      X-Transaction:
      - f9a2ccdd9e5a07b2
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"created_at":"Wed Mar 23 17:32:58 +0000 2016","id":712693634878062592,"id_str":"712693634878062592","text":"Nehra
        knocks himself on the head after bowling that full toss. That must usually
        work when his Nokia phone malfunctions. #INDvBAN","entities":{"hashtags":[{"text":"INDvBAN","indices":[121,129]}],"symbols":[],"user_mentions":[],"urls":[]},"truncated":false,"metadata":{"result_type":"popular","iso_language_code":"en"},"source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":534933558,"id_str":"534933558","name":"Andrew
        F Fernando","screen_name":"andrewffernando","location":"Sri Lanka","description":"My
        writing is better than my leg spin. That is not a high bar.","url":"https:\/\/t.co\/DdaYZmk2NQ","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/DdaYZmk2NQ","expanded_url":"https:\/\/www.instagram.com\/andrew_fidel\/","display_url":"instagram.com\/andrew_fidel\/","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":8769,"friends_count":659,"listed_count":108,"created_at":"Sat
        Mar 24 00:32:43 +0000 2012","favourites_count":110,"utc_offset":46800,"time_zone":"Nuku''alofa","geo_enabled":true,"verified":true,"statuses_count":4243,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/599281849609752577\/b-1BKByM_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/599281849609752577\/b-1BKByM_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/534933558\/1443254641","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":27,"favorite_count":33,"favorited":false,"retweeted":false,"lang":"en"},{"created_at":"Thu
        Mar 24 11:28:05 +0000 2016","id":712964197575950336,"id_str":"712964197575950336","text":"We\u2019re
        helping make Dubai the safest and smartest city in the world. Read more: https:\/\/t.co\/YPwn3OuwKx
        #5G #SmartCity","entities":{"hashtags":[{"text":"5G","indices":[103,106]},{"text":"SmartCity","indices":[107,117]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/YPwn3OuwKx","expanded_url":"http:\/\/nokia.ly\/22BKf1t","[...]
