---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&lang=en&q=Nokia&result_type=recent&since=1991&until
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
        #removed for security
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 26 Mar 2016 14:49:42 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 8e6434485a3ccc669874d33078008d21
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1459004682'
      X-Response-Time:
      - '350'
      X-Transaction:
      - d4cfb14073a8fcd1
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"created_at":"Sat Mar 26 14:48:46 +0000 2016","id":713739475839528960,"id_str":"713739475839528960","text":"BEST
        DEALS : https:\/\/t.co\/gFhcujVRXa #7543 Nokia Lumia 520 - 8GB - ( Factory
        Unlocked) Black Smartphone - N\/O https:\/\/t.co\/a6eo5YwBI9","entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/gFhcujVRXa","expanded_url":"http:\/\/ift.tt\/1XOj0xp","display_url":"ift.tt\/1XOj0xp","indices":[13,36]}],"media":[{"id":713739475730432000,"id_str":"713739475730432000","indices":[110,133],"media_url":"http:\/\/pbs.twimg.com\/media\/Cee2RYkWAAAVBP_.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Cee2RYkWAAAVBP_.jpg","url":"https:\/\/t.co\/a6eo5YwBI9","display_url":"pic.twitter.com\/a6eo5YwBI9","expanded_url":"http:\/\/twitter.com\/BEDEALz\/status\/713739475839528960\/photo\/1","type":"photo","sizes":{"small":{"w":179,"h":300,"resize":"fit"},"medium":{"w":179,"h":300,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":179,"h":300,"resize":"fit"}}}]},"truncated":false,"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/ifttt.com\" rel=\"nofollow\"\u003eIFTTT\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2455091186,"id_str":"2455091186","name":"BEST
        DEALS HERE","screen_name":"BEDEALz","location":"USA","description":"BEST DEALS
        HERE","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":301,"friends_count":59,"listed_count":46,"created_at":"Sun
        Apr 20 14:10:32 +0000 2014","favourites_count":1,"utc_offset":-25200,"time_zone":"Arizona","geo_enabled":false,"verified":false,"statuses_count":455976,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/487617463312318464\/_CqWmK4q_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/487617463312318464\/_CqWmK4q_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Sat
        Mar 26 14:48:40 +0000 2016","id":713739450916843520,"id_str":"713739450916843520","text":"Shah
        Rukh Khan @iamsrk spotted sporting a Devdas look for Nokia Lumia''s new Advertise.
        https:\/\/t.co\/MYueTwQIGg","entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"iamsrk","name":"Shah
        Rukh Khan","id":101311381,"id_str":"101311381","indices":[15,22]}],"urls":[],"media":[{"id":713738722211205122,"id_str":"713738722211205122","indices":[87,110],"media_url":"http:\/\/pbs.twimg.com\/media\/Cee1lhfXEAIF4ob.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Cee1lhfXEAIF4ob.jpg","url":"https:\/\/t.co\/MYueTwQIGg","display_url":"pic.twitter.com\/MYueTwQIGg","expanded_url":"http:\/\/twitter.com\/NikhilM07461766\/status\/713738726288068609\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":256,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":480,"h":362,"resize":"fit"},"medium":{"w":480,"h":362,"resize":"fit"}},"source_status_id":713738726288068609,"source_status_id_str":"713738726288068609","source_user_id":4352245719,"source_user_id_str":"4352245719"}]},"truncated":false,"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\"\u003eMobile Web (M2)\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":307970810,"id_str":"307970810","name":"$@M","screen_name":"SAMTHEBESTEST","location":"MUMBAI","description":"WHY
        I M THE BEST...???","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1807,"friends_count":159,"listed_count":24,"created_at":"Mon
        May 30 16:19:25 +0000 2011","favourites_count":5019,"utc_offset":null,"time_zone":null,"geo_enabled":true,"verified":false,"statuses_count":38271,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/711167611908833281\/jXHcl53R_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/711167611908833281\/jXHcl53R_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/307970810\/1447598388","profile_link_color":"3B94D9","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"fa[...]
