---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&lang=en&q=Nokia&result_type=recent&since&until
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="W6fvTujRB44WZBUPhMUvCY6bp", oauth_nonce="b17e2d5ccbe682dfb193661d20c3e32e",
        oauth_signature="L%2BYKviYdNZ79kI%2BUc64TJIURCmw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1458836445", oauth_token="305686082-On2wrdPpkyR1yrcjLexdSwjvX5WGw2odILDkJ1GU",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 24 Mar 2016 16:20:45 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 6b58556eb2801f340b4b3595bc33ca91
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '170'
      X-Rate-Limit-Reset:
      - '1458837176'
      X-Response-Time:
      - '226'
      X-Transaction:
      - 2d23f30257e7d749
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"created_at":"Thu Mar 24 16:20:08 +0000 2016","id":713037692259307524,"id_str":"713037692259307524","text":"You
        make our community happen. Help develop our stories by filling in this survey!\u00a0https:\/\/t.co\/zFAZwLo4A9
        https:\/\/t.co\/fx16ZnoRg6","entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/zFAZwLo4A9","expanded_url":"http:\/\/nokia.ly\/1RjgbnH","display_url":"nokia.ly\/1RjgbnH","indices":[83,106]}],"media":[{"id":713007705300934658,"id_str":"713007705300934658","indices":[107,130],"media_url":"http:\/\/pbs.twimg.com\/media\/CeUcuvSUIAICnwl.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/CeUcuvSUIAICnwl.jpg","url":"https:\/\/t.co\/fx16ZnoRg6","display_url":"pic.twitter.com\/fx16ZnoRg6","expanded_url":"http:\/\/twitter.com\/nokia\/status\/713037692259307524\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1024,"h":512,"resize":"fit"},"medium":{"w":600,"h":300,"resize":"fit"},"small":{"w":340,"h":170,"resize":"fit"}}}]},"truncated":false,"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":24727891,"id_str":"24727891","name":"Nokia","screen_name":"nokia","location":"Espoo,
        Finland","description":"Are you ready for a new world of technology? News
        and updates from Nokia.","url":"http:\/\/t.co\/R9W0IAzokQ","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/R9W0IAzokQ","expanded_url":"http:\/\/company.nokia.com","display_url":"company.nokia.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":2105862,"friends_count":165153,"listed_count":8079,"created_at":"Mon
        Mar 16 17:15:33 +0000 2009","favourites_count":759,"utc_offset":7200,"time_zone":"Helsinki","geo_enabled":true,"verified":true,"statuses_count":38853,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/510429821218746369\/WUFNjcpm.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/510429821218746369\/WUFNjcpm.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/700641246423846912\/kd3u3cko_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/700641246423846912\/kd3u3cko_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/24727891\/1453447853","profile_link_color":"3B94D9","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"FFFFFF","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":1,"favorite_count":3,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Thu
        Mar 24 16:19:53 +0000 2016","id":713037631857135616,"id_str":"713037631857135616","text":"Nokia
        Co. (NYSE:NOK) Receives $8.14 Average PT from Brokerages... https:\/\/t.co\/VrxkmmZbPa
        https:\/\/t.co\/BSRSYdigdk","entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/VrxkmmZbPa","expanded_url":"http:\/\/prt.news\/aiMC22","display_url":"prt.news\/aiMC22","indices":[66,89]}],"media":[{"id":71303763134960[...]
