---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&lang=en&q=Nokia&result_type=recent&since=2014-03-20&until=2014-03-22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
        #removed for security
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 26 Mar 2016 13:37:38 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 1f829a6816485733a404b777b7ab48c2
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '176'
      X-Rate-Limit-Reset:
      - '1458999587'
      X-Response-Time:
      - '125'
      X-Transaction:
      - 8b00269ab58bc3a0
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[],"search_metadata":{"completed_in":0.004,"max_id":713721576020770816,"max_id_str":"713721576020770816","query":"Nokia+since%3A2014-03-20+until%3A2014-03-22","refresh_url":"?since_id=713721576020770816&q=Nokia%20since%3A2014-03-20%20until%3A2014-03-22&lang=en&result_type=recent&include_entities=1","count":100,"since_id":0,"since_id_str":"0"}}'
  recorded_at: Sat, 26 Mar 2016 13:37:38 GMT
recorded_with: VCR 3.0.1
